body {
	background-image: url(../images/xmnatt01.jpg);
	background-repeat: no-repeat;
}

#selectable img {
	height: 250px;
	width: 175px;
	border-radius: 15px;
}

.combatant1, .combatant2 {
	height: 350px;
	border-radius: 150px;
}

h3 {
	background-color: #b42b13;
	padding-left: : 60px;
	border-radius: 10px;
}